
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;600;700&display=swap');


:root {
  --color-main: #dc4a4a;
  --color-main-light: #E06161;
  --color-text: #d6d1d1;
  --color-white: #f5f6f7;
  --color-gray: #999;
  --color-dark: #2e3235;
  --color-darker: #292a2c;
  --color-border:#252629;
  --color-bg: #1f2124;
}



/* Base Styles */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lexend', sans-serif;
  color: inherit;
  font-size: inherit;
  scroll-behavior: smooth;
}


body{
  line-height: 1.8em;
  font-weight: 400;
  font-size: 16px;
}

a {
  text-decoration: none;
}



/* App Styles */

.container {
  width: 100%;
  height: 100vh;
  color: var(--color-text);
  background-color: var(--color-bg);
  display: flex;
  align-items: center;
}


.app {
  width: 100%;
  max-width: 720px;
  min-height: 560px;
  height: 88vh;
  margin: 0 auto;
  background-color: var(--color-darker);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
  position: relative;
  align-items: center;
}


.app-header {
  display: flex;
  align-items: center;
  padding: 16px;
  justify-content: space-between;

  background-color: var(--color-dark);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 25px 25px 0px 0px;

}

.app-header h1 {
  font-size: 28px;
  color: var(--color-text);
  font-weight: 800;
  text-align: center;
}

.app-header h3 {
  display: flex;
  align-items: center;
  font-size: 28px;
  cursor: pointer;
}



/* InfoStyles */

.info{

  height: 500px;
  justify-content: center;
  align-items: center;
  padding: 16px 32px 16px 32px;
  overflow-y: scroll;

}

/* width */
::-webkit-scrollbar {
  width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-darker);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-gray);
  height: 12px;
  border-radius: 4px;
}


.info h1{
  color: var(--color-main);
  font-size: 28px;
  text-align: center;
  padding: 16px 16px 16px 16px;
}

.info h2{
  font-size: 20px;
  text-align: center;
  padding: 0px 32px 0px 32px;
}

.info h3{
  color: var(--color-main-light);
  font-size: 20px;
  text-align: left;
  padding-bottom: 4px;
}

.info-entry{
  font-size: 14px;
  padding: 24px 16px 24px 16px;
}


/* Home Styles */

.home {
  align-items: center;
  justify-content: center;
  color: var(--color-main-light);
}

.home-button{

  display: flex;
  align-items: center;
  justify-content: center;

  height: 42px;
  margin: 5% 10% 5% 10%;
  border-radius: 24px;

  font-size: 20px;
  text-align: center;
  font-weight: bold;

  color: var(--color-text);
  background-color: var(--color-main);

}

.home-button:hover{
  background-color: var(--color-gray);
  cursor: pointer;
}



/* Leaderboard Styles */

.leaderboard-header {

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 96px 0px 96px;

  color: var(--color-main-light);
  font-size: 24px;
  font-weight: bold;
  text-align: center;

}

.leaderboard-subtitle {

  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0px 96px 16px 96px;

  color: var(--color-gray);

}


.leaderboard-count {

  font-size: 18px;
  color: var(--color-gray);
  font-weight: bold;
  text-align: center;

}


.leaderboard-list {
  padding: 0;
  margin: 0px;
  height: 500px;
  overflow-y: auto;
}

.leaderboard-list::-webkit-scrollbar {
  display: flex;
}
.leaderboard-label {
  display:flex;
}

.leaderboard-item {

  display: flex;
  justify-content: space-around;

  border-bottom: 1px solid  var(--color-border);
  padding: 8px 36px 8px 36px;
  transition: all 0.2s ease-in-out;

}

.leaderboard-item:hover {
  background-color: var(--color-bg);
  cursor: pointer;
}

.leaderboard-item-rank {
  color: var(--color-main-light);
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  width: 15%;
}

.leaderboard-item-stat-bold {
  color: var(--color-text);
  font-size: 24px;
  font-weight: bold;
  text-align: right;
  width: 15%
}

.leaderboard-item-stat {
  color: var(--color-text);
  font-size: 14px;
  text-align: center;
  width: 12%;
}






/* Game Styles */

.game-header {
  padding: 8px;
}
.game-stats {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text);
  font-size: 18px;
  text-align: center;
}
.game-stats-highlighted {
  color: var(--color-main);
  font-size: 24px;
  font-weight: bold;
}


.game-body { 
  position: relative;
  justify-content: center;
  width: 0px;
  height: 0px;
  padding: 0px;
  margin: 140px auto;
}

.game-ring-border {

  position: absolute;
  margin: -118px 0px 0px -150px;
  width: 300px;
  height: 300px;
  border-radius: 150px;

  color: var(--color-main);
  background-color: rgb(0, 0, 0, 0);
  border: 2px solid;
  border-color: var(--color-gray);

}

.ring-element-container{
  position: absolute;
  text-align: center;
}

.center-element-container {
  position: absolute;
  text-align: center;
  transform: translate(-50%, 50%)
}

.element-label {
  color: var(--color-white);
  font-size: 14px;
}
.element-value {
  
  position: absolute;
  transform: translate(-50%, -15%);

  color: var(--color-white);
  font-size: 10px;

}

.ring-button {
  position: absolute;
  background-color: var(--color-main-light);
}

.ring-button:hover{
  background-color: var(--color-gray);
  cursor: pointer;
}

.game-assist-button {
  position: absolute;
  background-color: var(--color-main-light);
  width: 16px;
  height: 16px;
  border-radius: 8px;
  top: -24px;
  transform: translate(-50%, 50%);
  font-size: 10px;

  line-height: 16px;
  justify-content: center;
  text-align: center;
  align-items: center;

}

.game-assist-button:hover{
  background-color: var(--color-gray);
  cursor: pointer;
}

.game-footer{
  margin-top: 354px;
}

.game-name-input{

  width: 64px;
  text-align: center;

  color: var(--color-gray);
  background-color: var(--color-dark);
  border-radius: 8px;

}

.game-submit-name-button {

  width: 24px;
  height: 24px;
  margin: 8px;
  justify-content: center;
  
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: var(--color-main);

  background-color: var(--color-text);
  border-radius: 8px;

}

.game-submit-name-button:hover {
  background-color: var(--color-gray);
  cursor: pointer;
}